@import url(./fonts.css);

* {
  box-sizing: border-box;
}

.regform {
  margin: 0 auto;
  text-align: center;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: lightgrey;
}

h1 {
  max-width: 120px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid lightgray;
  background-color: lightgray;
  z-index: 2;
}

.text {
  font-size: 0.9em;
  font-family: "Langar";
  color: gray;
  border-top: 1px solid black;
  padding-top: 20px;
  margin: -32px 10px 10px 10px;
}
.form {
  padding: 5px 10px;
  text-align: initial;
  margin: 8px 0px;
}

.input {
  margin: 5px 0;
  padding: 8px;
}

.width {
  width: 100%;
}

.row {
  width: 48%;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.Agreebox {
  font-size: 0.9em;
}

.confirmbtn {
  padding: 8px;
  background: linear-gradient(
    180deg,
    rgba(4, 120, 37, 1) 0%,
    rgba(21, 140, 29, 1) 35%,
    rgba(32, 184, 60, 1) 100%
  );
  color: white;
  font-size: 1.1em;
  border-radius: 3px;
  border: transparent;
  margin-top: 15px;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: green;
}

.male {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0%;
}
